[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "gradle"]
	path = fish-custom/plugins/gradle
	url = git@github.com:hanny24/gradle-fish.git
